body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    background-color: #253746;
    text-align: center;
}

h1 {
    color: white;
}

h4 {
    font-weight: normal;
}

textarea {
    height: 1rem;
}

td {
    padding: 10px;
}

img {
    padding: 25px;
    min-width: 150px;
}

input, textarea, select, button {
    background-color: #2b343b;
    color: white;
}

input::placeholder, textarea::placeholder, legend {
    color: lightgray;
}

a, .completed {
    color: #ec7f22;
}

#login, #checklist, #checklistuser {
    border-radius: 3px;
    display: inline-block;
}

#checklisttable, #usertable {
    justify-self: center;
}

#login, #checklist, #checklistuser, #checklisttable, #usertable {
    border: 2px solid black;
    background-color: #2f3b44;
    padding: 8px 16px; 
}

#Checklist {
    font-size: 12px;
    accent-color: #ec7f22;
}

#deviceselect {
    font-size: 20px;
    margin-bottom: 20px;
}
